sudo apt-get update
sudo apt-get install python-pip python3-pip
sudo apt-get install git python3-dev python3-opencv python3-wxgtk4.0 python3-pip python3-matplotlib python3-lxml 
sudo pip3 install MAVProxy PyYAML
pip install dronekit
pip install dronekit-sitl
